<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>TTOnline</title>
  <link rel="stylesheet" href="[% request.uri_base %]/css/style.css">
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
</head>
<body>
<a href="https://github.com/ramortegui/TTOnline" target="_blank">Github</a>
[% content %]
</body>
</html>

